@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap');

body{
    display: flex;
    justify-content: center;
    margin: 20vh 3rem;
    background-color: rgb(168, 222, 255);
    font-family: 'Nunito', sans-serif;
}

#calculator {
    width: 25rem;
    padding: 0.9rem;
    border: 0.2rem rgb(56, 56, 56) solid;
    border-radius: 1rem;
    background-color: rgb(240, 240, 240);
}

#display {
    min-height: 7rem;
    width: 23rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    background-color: rgba(121, 161, 40, 0.384);
    margin-bottom: 0.5rem;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    word-wrap: break-word;
    word-break: break-all;
}

#output {
    align-self: flex-end;
    font-size: 2.5rem;
    text-align: right;
}

#clear { grid-area: clear;}
#delete { grid-area: delete;}
#seven { grid-area: seven;}
#eight { grid-area: eight;}
#nine { grid-area: nine;}
#divide { grid-area: divide;}
#four { grid-area: four;}
#five { grid-area: five;}
#six { grid-area: six;}
#multiply { grid-area: multiply;}
#one { grid-area: one;}
#two { grid-area: two;}
#three { grid-area: three;}
#subtract { grid-area: subtract;}
#zero { grid-area: zero;}
#decimal { grid-area: decimal;}
#equals { grid-area: equals;}
#plus { grid-area: plus;}

#buttons {
    display: grid;
    grid-template-areas: 
        'clear clear delete delete'
        'seven eight nine divide'
        'four five six multiply'
        'one two three subtract'
        'zero decimal equals plus';
    grid-gap: 0.4rem;
    background-color: rgb(240, 240, 240);
}

button {
    padding: 1.5rem;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    border-radius: 0.3rem;
    border-style: none;
    transition: 0.2s;
}

.number {
    background: rgb(56, 56, 56);
}

.operator, #equals {
    background: rgb(133, 133, 133);
}

#clear, #delete {
    background-color: rgb(253, 152, 69);
}

button:hover {
    transform: scale(1.03);
}

button:active {
    transform: scale(0.97);
}

.number:hover {
    color: rgb(253, 152, 69);
}

.operator:hover, #equals:hover {
    background: rgb(161, 161, 161);
    color: rgb(56, 56, 56);
}

#clear:hover, #delete:hover {
    background-color: rgb(255, 132, 31);
}

footer {
    position: absolute;
    bottom: 0;
    font-size: 20px;
}

footer p {
    color: rgb(56, 56, 56);
}